{
  "ignoredGroups": [],
  "useAllowedGroups": false,
  "allowedGroups": [],
  "recipientEmails": [],
  "smtp": {
    "host": "smtp.gmail.com",
    "port": 465,
    "user": "you@gmail.com",
    "password": ""
  },
  "aiApiKey": "",
  "downloadMedia": false,
  "mediaPath": "./media"
}
